body {
  background-color: #dedede;
  color: black;
  font-family: 'Lato', sans-serif;
  margin: 8px;
  max-width: 30em;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4rem;
}

h1 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-weight: 300;
  font-size: 1.0rem;
  font-family: 'Montserrat', sans-serif;
}

#content_apps {
  margin-top: 2rem;
}

#content_apps ul {
  padding-left: 1.2rem;
  margin-top: 0.5rem;
}

#content_apps li {
  margin-bottom: 0.4rem;
  font-weight: 300;
}

#content_social {
  margin-top: 2rem;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  height: 40px;
}

#social_links {
  display: flex;
  flex-direction: row;
}

i {
  font-size: 3em;
  color: grey;
}

#icon_github:hover,
#icon_email:hover,
#icon_linkedin:hover {
  color: #424242;
}

#icon_github,
#icon_linkedin {
  padding-right: 15px;
}

#icon_email {
  color: grey;
}
