body {
  background-color: #dedede;
  color: black;
  font-family: 'Lato', sans-serif;
  margin: 8px;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

#content_social {
  height: 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

i {
  font-size: 3em;
  color: grey;
}

#icon_github:hover,
#icon_email:hover,
#icon_linkedin:hover {
  color: #424242;
}

#icon_github,
#icon_linkedin {
  padding-right: 15px;
}

#icon_email {
  color: grey;
}
